@import "./assets/styles/__typography"; 
@import "./assets/styles/__animations";

* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  color: $primary-color;  
}

a {
  text-decoration: none; 
}
html {
  scroll-snap-type: y mandatory; 
  overflow-y: scroll; 
}

.landing, .about, .projects, .contact {
  scroll-snap-align: start; 
}

.rest-of-page {
  background: linear-gradient(#647AAF, #092659);
  width: 100vw;
  background-repeat: no-repeat; 
  background-size: cover; 
}

.nav { 
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  font-family: $secondary-font;
  position: fixed; 
  width: 100%; 
  height: 20vh; 
  flex-wrap: wrap;      
  &__logo-img {  
    background: linear-gradient(#0B4284, #0B4284) padding-box, linear-gradient(#1178c3, #afb2b5) border-box; 
    border: 10px solid transparent; 
    padding-top: 15px; 
    padding-bottom: 20px;  
    margin-left: 10px;  
    border-radius: 50%;
    overflow: hidden;   
  }
  &__list-master {
    display: flex; 
    justify-content: flex-end; 
    column-gap: 10px;
    flex-wrap: wrap;  
    align-self: flex-start; 
  }
  
  &__list-items {
    font-size: 30px; 
    list-style-type: none; 
    margin-right: 20px; 
    font-weight: normal;    
  }
  &__list-items:hover { 
    animation-name: slightly-raise;
    animation-duration: 0.5s; 
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    cursor: pointer; 
    text-decoration: none;

  }

  &__list-items-number {
    color: #64FFDA; 
  }
}

.socials {     
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;  
  &__line {
    width: 5px; 
    height: 150px;
    background: white;
    margin-top: 10px;  
  } 
  &__links {
    font-size: 50px; 
  }  
}  

.landing {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  width: 100vw; 
  background-image: url(./assets/images/background-space-pic.jfif);
  background-repeat: no-repeat; 
  background-size: cover; 
  border-bottom: 2px solid white;  
  &__message {
    background: linear-gradient(rgba(120, 149, 198, 0.15), rgba(14, 21, 48, 0.15));  
    height: auto;
    width: auto;   
    border: 1px solid rgba(103, 128, 159, 0.15);
    font-size: 50px;
    border-radius: 25px; 
    font-family: $secondary-font;
    display: grid; 
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    column-gap: 0;
    row-gap: 0; 
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    padding-top: 20px;
    animation-name: rainbowBorder;
    animation-duration: 8s; 
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: 4s;     
  }
}

#landing__message__line-1 {
  grid-column-start: 1;
}

#landing__message__line-2 {
  grid-column-start: 2;
  grid-row-start: 2;
  color: #29b6f6;   
}

#landing__message__line-3 {
  grid-column-start: 2;
  grid-row-start: 3;
  color: #9CCC65;   
}

#landing__message__line-4 {
  grid-column-start: 2;
  grid-row-start: 4;
  color: #EF5350;   
}

#landing__message__line-5 {
  grid-column-start: 1;
  grid-row-start: 5;  
}

#landing__message__line-6 {
  grid-column-start: 1; 
  grid-row-start: 6; 
}

#span1 {
  color: #29b6f6;
  display: inline-block; 
  // animation-name: jello;  
  // animation-timing-function: linear;
  // animation-duration: 1s;
  // animation-delay: 1s;  
  // animation-iteration-count: 1;
}

#span2 {
  animation-name: fade-out; 
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.about {
  height: 100vh; 
  border-bottom: 2px solid white; 
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center;  
  font-family: $primary-font; 
  &__article {
    display: flex; 
    justify-content: center; 
    width: 65vw;
    height: 40vh; 
    align-items: center;
    margin-bottom: 100px;   
  }
  &__article__header {
    margin-left: 10px; 
    font-size: 50px;  
  }
  &__article__profile-pic {
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background: linear-gradient(#0B4284, #0B4284) padding-box, linear-gradient(#1178c3, #afb2b5) border-box; 
    border: 5px solid transparent;      
    border-radius: 15px;
    overflow: hidden;
  } 
  &__article__profile-pic:hover {
    transform: scale(1.2,1.2);
  }
  &__article__info {
    font-size: 24px;
    margin-left: 10px;
    height: 100%;  
  &__highlight {
    color: #64ffda;
    font-weight: bold;  
  } 
  }
  &__tech-stack {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding-bottom: 5px;  
  }
  &__tech-stack__header {
    font-size: 40px;
    // text-underline-position: under;
    // text-decoration: #64ffda underline;
    border-bottom: 2px solid white; 
    border-radius: 10px; 
    margin-bottom: 40px; 
  }
  &__tech-stack__icons {
    display: grid; 
    grid-template-columns: auto auto auto auto;
    grid-template-rows: repeat(3, auto);  
    height: 20vh; 
    width: 65vw;
    font-size: 25px;  
    border-radius: 15px; 
    max-height: 100%; 
    padding-top: 30px;
    justify-content: space-around;
    text-align: center;
  }
  &__tech-stack__icons:hover {
    box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 1px 1px 0px 0px rgba(0,0,0,0);
    transform: scale(1.2, 1.2);
  }
}
#_nology, #chemosphere, #university-of-surrey {
  text-decoration: blink;
  color: #FF6489;   
}

#_nology:hover, #chemosphere:hover, #university-of-surrey:hover {
  opacity: 50%;
  text-decoration: underline; 
}

#_nology:visited, #chemosphere:visited, #university-of-surrey:visited {
  color: lightskyblue;  
}

.projects { 
  height: 100vh;
  border-bottom: 2px solid white; 
  display: flex; 
  flex-direction: column; 
  justify-content: space-around; 
  align-items: center;  
  font-family: $primary-font;
  &__header {
    align-self: flex-start;
    font-size: 40px;
    font-weight: bold;
    // margin-bottom: 50px;   
  }
  &__subheader {
    color: $secondary-color;      
  } 
  &__subheader__icons {
    display: flex; 
    justify-content: space-between;
    font-size: 100px; 
    align-items: center; 
  } 
  &__card-1 {
    display: flex; 
    justify-content: space-around; 
    height: 30vh;
    width: 70vw;  
    align-items: center; 
  } 
  &__card-1__text {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    width: 40%;   
  } 
  &__card-1__text__info {
    border: 2px solid #64ffda;
    border-radius: 15px; 
    padding: 10px; 
    margin-top: 10px; 
    background-color: $tertiary-color;  
  }
  &____card-1__text__info__icons {
    display: flex; 
    justify-content: space-between; 
    border: 10px solid white; 
  }
  &__card-1__img {
    overflow: hidden;
    max-width: 100%; 
    max-height: 100%;
    border: 5px solid black; 
    border-radius: 15px;  
  }
  &__card-1__img:hover { 
    cursor: pointer;
    transform: scale(2.5,2.5) translate(-100px, 100px);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  }
  &__card-2 {
    display: flex; 
    justify-content: space-around; 
    height: 30vh;
    width: 70vw;  
    align-items: center;  
  } 
  &__card-2__text {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    width: 40%;   
  } 
  &__card-2__text__info {
    border: 2px solid #64ffda;
    border-radius: 15px; 
    padding: 10px; 
    margin-top: 10px; 
    background-color: $tertiary-color;  
  }
  &__card-2__img {
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    border: 5px solid black; 
    border-radius: 15px;
    opacity: 100%; 
    background-color: tertiary-color;   
  }

}

.contact {
  height: 100vh; 
  display: flex; 
  justify-content: space-around;
  flex-direction: column;  
  align-items: center; 
  text-align: center;
  border-bottom: 2px solid white;
  color: $primary-color; 
  &__message, &__header, &__button  {
    font-family: $primary-font; 
  }
  &__header {
    font-size: 50px;
    text-align: left; 
    align-self: flex-start; 
    margin-left: 200px; 
    font-weight: bold; 
  }
  &__message {
    font-size: 40px;
    width: 70vw;  
  }
  &__button {
    font-size: 30px;  
    height: auto; 
    width: auto; 
    border: 5px solid transparent; 
    border-radius: 20px;
    padding: 10px;  
    font-weight: bold;
    background: linear-gradient(#0BCE83, #0BCE83) padding-box, linear-gradient(#1178c3, #afb2b5) border-box; 
    overflow: hidden;
    margin-bottom: 100px;  
  }
  &__button:hover {
    opacity: 70%;
    cursor: pointer;
  }
  &__footer {
    display: flex; 
    justify-content: center; 
    align-items: center;  
  } 
  &__footer__info {
    font-size: 15px;
    color: $primary-color; 
    font-family: $secondary-font; 
    text-decoration: overline;
    margin-bottom: -60px;  
  }    
}

.fa-envelope, .fa-handshake, .fa-tools, .hi-icon,  {
  color: black; 
}

.hi-icon {
  height: 40px; 
  width: 40px; 
  margin-left: 5px;    
}






