* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  color: white; 
  // font-family: "Red Hat Display"; 
}

@import "./assets/styles/__typography.scss"; 

body {
  background: linear-gradient(#647AAF, #092659);
}
.nav { 
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  font-family: "Consolas";
  position: fixed; 
  width: 100%; 
  height: auto;
  margin-top: 20px;     
  &__logo-img {  
    background: linear-gradient(#0B4284, #0B4284) padding-box, linear-gradient(#1178c3, #afb2b5) border-box; 
    border: 10px solid transparent; 
    padding-top: 15px; 
    padding-bottom: 20px;  
    margin-left: 50px;  
    border-radius: 50%;
    overflow: hidden;   
  }
  &__list-master {
    display: flex; 
    justify-content: flex-end; 
    column-gap: 10px; 
  }
  
  &__list-items {
    font-size: 60px; 
    list-style-type: none; 
    margin-right: 20px;   
  }

  &__list-items-number {
    color: #64FFDA; 
  }
}

/* .socials {
  width: 100px; 
  height: 100px;
  border: 2px solid black; 
  color: white; 
} */ 
.fixed_elements {
  display: flex; 
  flex-direction: column; 
  justify-content: space-between; 
}
body {
  background-image: url(./assets/images/background-space-pic.jfif);
  background-repeat: no-repeat; 
  background-size: cover; 
}

.landing {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  width: 100vw;  
  &__message {
    background: linear-gradient(rgba(120, 149, 198, 0.15), rgba(14, 21, 48, 0.15));  
    height: auto;
    width: auto;   
    border: 1px solid rgba(103, 128, 159, 0.15);
    font-size: 60px;
    border-radius: 25px; 
    font-family: "Consolas";
    display: grid; 
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    column-gap: 0;
    row-gap: 0; 
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    padding-top: 20px; 
  }
}

#landing__message__line-1 {
  grid-column-start: 1;
}

#landing__message__line-2 {
  grid-column-start: 2;
  grid-row-start: 2;
  color: #29b6f6;   
}

#landing__message__line-3 {
  grid-column-start: 2;
  grid-row-start: 3;
  color: #9CCC65   
}

#landing__message__line-4 {
  grid-column-start: 2;
  grid-row-start: 4;
  color: #EF5350;   
}

#landing__message__line-5 {
  grid-column-start: 1;
  grid-row-start: 5;  
}

#landing__message__line-6 {
  grid-column-start: 1; 
  grid-row-start: 6; 
}

#span1 {
  color: #29b6f6; 
}

@keyframes fade-out {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

#span2 {
  animation-name: fade-out; 
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}