@font-face {
  font-family: "Consolas";
  src: url(".assets/fonts/Consolas.woff2") format("woff2"), url(".assets/fonts/Consolas.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes down-from-above {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 25px);
  }
  100% {
    transform: translate(0px, 50px);
  }
}
@keyframes slightly-raise {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, -5px);
  }
}
@keyframes slightly-enlarge {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(1.1, 1.1);
  }
}
@keyframes bounce {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }
  24% {
    opacity: 1;
  }
  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }
  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }
  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }
  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }
  25%, 55%, 75%, 87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }
  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}
.nav__list-items:hover {
  animation-name: slightly-raise;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  cursor: pointer;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

a {
  text-decoration: none;
}

body {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.landing, .about, .projects, .classes {
  scroll-snap-align: start;
}

.rest-of-page {
  background: linear-gradient(#647AAF, #092659);
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Consolas";
  position: fixed;
  width: 100%;
  height: 20vh;
  flex-wrap: wrap;
}
.nav__logo-img {
  background: linear-gradient(#0B4284, #0B4284) padding-box, linear-gradient(#1178c3, #afb2b5) border-box;
  border: 10px solid transparent;
  padding-top: 15px;
  padding-bottom: 20px;
  margin-left: 10px;
  border-radius: 50%;
  overflow: hidden;
}
.nav__list-master {
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
  flex-wrap: wrap;
  align-self: flex-start;
}
.nav__list-items {
  font-size: 40px;
  list-style-type: none;
  margin-right: 20px;
  font-weight: normal;
}
.nav__list-items-number {
  color: #64FFDA;
}

.socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.socials__line {
  width: 5px;
  height: 150px;
  background: white;
  margin-top: 10px;
}
.socials__links {
  font-size: 50px;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url(./assets/images/background-space-pic.jfif);
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 2px solid white;
}
.landing__message {
  background: linear-gradient(rgba(120, 149, 198, 0.15), rgba(14, 21, 48, 0.15));
  height: auto;
  width: auto;
  border: 1px solid rgba(103, 128, 159, 0.15);
  font-size: 50px;
  border-radius: 25px;
  font-family: "Consolas";
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  column-gap: 0;
  row-gap: 0;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  padding-top: 20px;
}

#landing__message__line-1 {
  grid-column-start: 1;
}

#landing__message__line-2 {
  grid-column-start: 2;
  grid-row-start: 2;
  color: #29b6f6;
  animation-name: bounce;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 1s;
}

#landing__message__line-3 {
  grid-column-start: 2;
  grid-row-start: 3;
  color: #9CCC65;
  animation-name: bounce;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 2s;
}

#landing__message__line-4 {
  grid-column-start: 2;
  grid-row-start: 4;
  color: #EF5350;
  animation-name: bounce;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}

#landing__message__line-5 {
  grid-column-start: 1;
  grid-row-start: 5;
}

#landing__message__line-6 {
  grid-column-start: 1;
  grid-row-start: 6;
}

#span1 {
  color: #29b6f6;
  display: inline-block;
  animation-name: bounce;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

#span2 {
  animation-name: fade-out;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.about {
  height: 100vh;
  border-bottom: 2px solid white;
}

.projects {
  height: 100vh;
  border-bottom: 2px solid white;
}

.contact {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid white;
  color: white;
}
.contact__message, .contact__header, .contact__button {
  font-family: "Red Hat Display";
}
.contact__header {
  font-size: 50px;
  text-align: left;
  align-self: flex-start;
  margin-left: 200px;
  font-weight: bold;
}
.contact__message {
  font-size: 40px;
  width: 60vw;
}
.contact__button {
  font-size: 30px;
  height: auto;
  width: auto;
  border: 5px solid transparent;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
  background: linear-gradient(#0BCE83, #0BCE83) padding-box, linear-gradient(#1178c3, #afb2b5) border-box;
  overflow: hidden;
}
.contact__button:hover {
  opacity: 70%;
}

.fa-envelope {
  color: black;
}