@import "./assets/styles/__typography"; 
@import "./assets/styles/__animations";

* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
  color: $primary-color; 
}

a {
  text-decoration: none; 
}
body {
  scroll-snap-type: y mandatory; 
  overflow-y: scroll; 
}

.landing, .about, .projects, .classes {
  scroll-snap-align: start; 
}

.rest-of-page {
  background: linear-gradient(#647AAF, #092659);
  width: 100vw;
  background-repeat: no-repeat; 
  background-size: cover; 
}

.nav { 
  display: flex; 
  justify-content: space-between;
  align-items: center; 
  font-family: $secondary-font;
  position: fixed; 
  width: 100%; 
  height: 20vh; 
  flex-wrap: wrap;      
  &__logo-img {  
    background: linear-gradient(#0B4284, #0B4284) padding-box, linear-gradient(#1178c3, #afb2b5) border-box; 
    border: 10px solid transparent; 
    padding-top: 15px; 
    padding-bottom: 20px;  
    margin-left: 10px;  
    border-radius: 50%;
    overflow: hidden;   
  }
  &__list-master {
    display: flex; 
    justify-content: flex-end; 
    column-gap: 10px;
    flex-wrap: wrap;  
    align-self: flex-start; 
  }
  
  &__list-items {
    font-size: 40px; 
    list-style-type: none; 
    margin-right: 20px; 
    font-weight: normal;    
  }

  &__list-items-number {
    color: #64FFDA; 
  }
}

.socials {     
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center;  
  &__line {
    width: 5px; 
    height: 150px;
    background: white;
    margin-top: 10px;  
  } 
  &__links {
    font-size: 50px; 
  }  
}  

.landing {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  width: 100vw; 
  background-image: url(./assets/images/background-space-pic.jfif);
  background-repeat: no-repeat; 
  background-size: cover; 
  border-bottom: 2px solid white;  
  &__message {
    background: linear-gradient(rgba(120, 149, 198, 0.15), rgba(14, 21, 48, 0.15));  
    height: auto;
    width: auto;   
    border: 1px solid rgba(103, 128, 159, 0.15);
    font-size: 50px;
    border-radius: 25px; 
    font-family: $secondary-font;
    display: grid; 
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    column-gap: 0;
    row-gap: 0; 
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    padding-top: 20px; 
  }
}

#landing__message__line-1 {
  grid-column-start: 1;
}

#landing__message__line-2 {
  grid-column-start: 2;
  grid-row-start: 2;
  color: #29b6f6;
  animation-name: bounce;  
  animation-timing-function: linear;
  animation-duration: 1s; 
  animation-iteration-count: 1; 
  animation-delay: 1s;   
}

#landing__message__line-3 {
  grid-column-start: 2;
  grid-row-start: 3;
  color: #9CCC65;
  animation-name: bounce;  
  animation-timing-function: linear;
  animation-duration: 1s; 
  animation-iteration-count: 1; 
  animation-delay: 2s;    
}

#landing__message__line-4 {
  grid-column-start: 2;
  grid-row-start: 4;
  color: #EF5350; 
  animation-name: bounce;  
  animation-timing-function: linear;
  animation-duration: 1s; 
  animation-iteration-count: 1; 
  animation-delay: 3s;
  animation-fill-mode: forwards;   
}

#landing__message__line-5 {
  grid-column-start: 1;
  grid-row-start: 5;  
}

#landing__message__line-6 {
  grid-column-start: 1; 
  grid-row-start: 6; 
}

#span1 {
  color: #29b6f6;
  display: inline-block; 
  animation-name: bounce;  
  animation-timing-function: linear;
  animation-duration: 1s; 
  animation-iteration-count: 1;
}

#span2 {
  animation-name: fade-out; 
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.about {
  height: 100vh; 
  border-bottom: 2px solid white; 
}
.projects {
  height: 100vh;
  border-bottom: 2px solid white; 
}
.contact {
  height: 100vh; 
  display: flex; 
  justify-content: space-around;
  flex-direction: column;  
  align-items: center; 
  text-align: center;
  border-bottom: 2px solid white;
  color: $primary-color;
  &__message, &__header, &__button  {
    font-family: $primary-font; 
  }
  &__header {
    font-size: 50px;
    text-align: left; 
    align-self: flex-start; 
    margin-left: 200px; 
    font-weight: bold; 
  }
  &__message {
    font-size: 40px;
    width: 60vw;  
  }
  &__button {
    font-size: 30px;  
    height: auto; 
    width: auto; 
    border: 5px solid transparent; 
    border-radius: 20px;
    padding: 10px;  
    font-weight: bold;
    background: linear-gradient(#0BCE83, #0BCE83) padding-box, linear-gradient(#1178c3, #afb2b5) border-box; 
    overflow: hidden; 
  }
  &__button:hover {
    opacity: 70%;
  }    
}

.fa-envelope {
  color: black;
}







