* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Red Hat Display";
}

@font-face {
  font-family: "Consolas";
  src: url(".assets/fonts/Consolas.woff2") format("woff2"), url(".assets/fonts/Consolas.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.nav {
  display: flex;
  justify-content: space-between;
  font-family: "Consolas";
  font-size: 40px;
}
.nav__logo-img {
  width: 200px;
  height: 200px;
}
.nav__list-items {
  list-style-type: none;
  column-gap: 20px;
  margin-right: 100px;
}
.nav__list-items-number {
  color: #64FFDA;
}

body {
  background-image: url(./assets/images/background-space-pic.jfif);
  background-repeat: no-repeat;
  background-size: cover;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.landing__message {
  height: 60vh;
  width: auto;
  border: 0.5px solid grey;
  font-size: 70px;
  border-radius: 25px;
  font-family: "Consolas";
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto auto;
  grid-column-gap: 0;
  grid-row-gap: 0;
}

#p1 {
  grid-column-start: 1;
  grid-column-gap: 0;
}

#p2 {
  grid-column-start: 2;
  grid-row-start: 2;
}

#p3 {
  grid-column-start: 2;
  grid-row-start: 3;
}

#p4 {
  grid-column-start: 2;
  grid-row-start: 4;
}