@font-face {
  font-family: "Consolas";
  src: url("./assets/fonts/Consolas.eot") format("embedded-opentype");
  /* IE9 Compat Modes */
  src: url("./assets/fonts/Consolas.woff2") format("woff2"), url("./assets/fonts/Consolas.woff") format("woff"), url("./assets/fonts/Consolas.ttf") format("truetype"), url("./assets/fonts/Consolas.woff") format("svg");
  /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@keyframes slightly-raise {
  0% {
    transform: translate(0px, 0px);
  }
  100% {
    transform: translate(0px, -5px);
    color: #64FFDA;
  }
}
@keyframes bounce {
  0% {
    animation-timing-function: ease-in;
    opacity: 1;
    transform: translateY(-45px);
  }
  24% {
    opacity: 1;
  }
  40% {
    animation-timing-function: ease-in;
    transform: translateY(-24px);
  }
  65% {
    animation-timing-function: ease-in;
    transform: translateY(-12px);
  }
  82% {
    animation-timing-function: ease-in;
    transform: translateY(-6px);
  }
  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }
  25%, 55%, 75%, 87% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }
  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes spinningDisc {
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

a {
  text-decoration: none;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

main {
  overflow-x: hidden;
}

.rest-of-page {
  background: linear-gradient(#647AAF, #092659);
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.fixed_elements__socials {
  position: fixed;
  bottom: 0;
  left: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}
.fixed_elements__socials__line {
  width: 5px;
  height: 20vh;
  background: white;
  margin-top: 10px;
}
.fixed_elements__socials__links {
  font-size: 50px;
  margin-top: 10px;
}

.fixed_elements__logo-img {
  background: linear-gradient(#0B4284, #0B4284) padding-box, linear-gradient(#1178c3, #afb2b5) border-box;
  border: 10px solid transparent;
  padding-top: 15px;
  padding-bottom: 20px;
  margin-left: 10px;
  margin-top: 10px;
  border-radius: 50%;
  overflow: hidden;
  position: fixed;
  z-index: 1;
}

.fixed_elements__hamburger-menu {
  visibility: hidden;
  position: fixed;
  right: 1px;
  z-index: 50;
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Consolas";
  position: fixed;
  width: 100%;
  z-index: 5;
}
.nav__list-master {
  display: flex;
  justify-content: flex-end;
  column-gap: 10px;
  align-self: flex-start;
}
.nav__list-items {
  font-size: 30px;
  list-style-type: none;
  margin-right: 20px;
  font-weight: normal;
}
.nav__list-items-number {
  color: #64FFDA;
}

#particles-js-landing {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.landing {
  max-width: 100%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-image: url(./assets/images/background-pic.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.landing__terminal {
  z-index: 10;
  height: auto;
  width: 70vw;
  font-size: 50px;
  font-family: "Consolas";
  touch-action: none;
}
.landing__terminal__bar {
  display: flex;
  width: 100%;
  height: 30px;
  align-items: center;
  padding: 0 8px;
  box-sizing: border-box;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: linear-gradient(#504b45 0%, #3c3b37 100%);
}
.landing__terminal__bar-buttons {
  display: flex;
  align-items: center;
}
.landing__terminal__bar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-right: 5px;
  font-size: 8px;
  height: 12px;
  width: 12px;
  box-sizing: border-box;
  border: none;
  border-radius: 100%;
  background: linear-gradient(#7d7871 0%, #595953 100%);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 1px 0px #41403A, 0px 1px 1px 0px #474642;
}
.landing__terminal__bar-button:hover {
  cursor: pointer;
  transform: scale(1.2, 1.2);
}
.landing .bar__button:focus {
  outline: none;
}
.landing #bar__button--exit {
  background: linear-gradient(#f37458 0%, #de4c12 100%);
  background-clip: padding-box;
}
.landing #bar__user {
  color: #d5d0ce;
  margin-left: 6px;
  font-size: 14px;
  line-height: 15px;
}
.landing__message {
  --border-width: 3px;
  padding: 10px;
  background: rgba(16, 25, 33, 0.6);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.landing__chevron {
  font-size: 120px;
  justify-self: flex-end;
  align-self: center;
  z-index: 2;
  animation: bounce 3s infinite;
  animation-delay: 5s;
  position: absolute;
  bottom: 20px;
}
.landing__minimised-terminal {
  position: absolute;
  bottom: 20px;
  right: 30px;
  background: rgba(16, 25, 33, 0.3);
  backdrop-filter: blur(4px);
  display: none;
  padding: 10px;
  border-radius: 10px;
  font-family: "Consolas";
  font-size: 1.2em;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}
#particles-js-about {
  position: absolute;
  width: 100%;
}

.about {
  min-height: 100vh;
  max-width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Red Hat Display";
}
.about__article {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  width: 70vw;
}
.about__article__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about__article__header {
  font-size: 50px;
}
.about__article__profile-pic {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  background: linear-gradient(#0B4284, #0B4284) padding-box, linear-gradient(#1178c3, #afb2b5) border-box;
  border: 5px solid transparent;
  border-radius: 15px;
  width: 22vw;
}
.about__article__info {
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}
.about__article__info__highlight {
  color: #64ffda;
  font-weight: bold;
}
.about__tech-stack {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 70vw;
  padding: 10px;
}
.about__tech-stack__header {
  font-size: 40px;
  margin-bottom: 20px;
  border-bottom: 2px solid white;
  border-radius: 10px;
}
.about__tech-stack__icons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, auto);
  width: 70vw;
  font-size: 70px;
  gap: 30px;
  padding: 20px;
  justify-items: center;
  align-items: center;
}

#_nology, #university-of-surrey {
  text-decoration: blink;
  color: #FF6489;
}

.frosted-glass {
  background: rgba(89, 111, 164, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

#_nology:visited, #chemosphere:visited, #university-of-surrey:visited {
  color: lightskyblue;
}

#particles-js-projects {
  position: absolute;
  width: 100%;
  height: 100%;
}

.colored {
  margin-left: 5px;
  padding: 0;
}

.projects {
  line-height: 1.5;
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Red Hat Display";
}
.projects__header {
  font-size: 45px;
  font-weight: bold;
  display: flex;
  justify-content: flex-start;
  width: 70vw;
  align-items: center;
  margin-bottom: 50px;
}
.projects__subheader {
  color: #64FFDA;
  display: flex;
  align-items: center;
  line-height: 100%;
}
.projects__card {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  z-index: 4;
  margin-bottom: 50px;
  object-fit: contain;
  padding: 5px;
}
.projects__card__text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 55%;
  max-height: 100%;
  padding: 10px;
  padding-left: 20px;
}
.projects__card__img {
  width: 40%;
  border-radius: 15px;
  background: linear-gradient(#0B4284, #0B4284) padding-box, linear-gradient(#1178c3, #afb2b5) border-box;
  border: 5px solid transparent;
  z-index: 10;
}
.projects__card__links {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}
.projects__card__links-btn {
  color: #64FFDA;
  background-color: #0B1039;
  font-family: "Red Hat Display";
  font-weight: bold;
  border-radius: 15px;
  padding: 15px;
  margin-right: 20px;
  border: 2px solid #64FFDA;
}
.projects__card__links-btn:hover {
  transform: scale(1.2, 1.2);
}

#particles-js-contact {
  position: absolute;
  width: 100%;
  height: 100%;
}

.contact {
  max-width: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: "Red Hat Display";
  color: white;
}
.contact__card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  width: 70vw;
}
.contact__card__message, .contact__card__header, .contact__card__form__button {
  font-family: "Red Hat Display";
}
.contact__card__header {
  font-size: 50px;
  font-weight: bold;
  align-self: flex-start;
  margin-bottom: 50px;
}
.contact__card__message {
  font-size: 40px;
  text-align: center;
}
.contact__card__form {
  z-index: 5;
  width: 30vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
}
.contact__card__form__inputs {
  display: flex;
  flex-direction: column;
  width: 30vw;
  z-index: 5;
  color: black;
  border: none;
  justify-content: space-around;
  height: 30vh;
}
.contact__card__form__button {
  font-size: 25px;
  width: auto;
  height: auto;
  border: 5px solid transparent;
  border-radius: 20px;
  text-align: center;
  font-weight: bold;
  background: linear-gradient(#0BCE83, #0BCE83) padding-box, linear-gradient(#1178c3, #afb2b5) border-box;
  margin-top: 20px;
  padding: 10px;
}
.contact__card__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: overline;
  z-index: 5;
}
.contact__card__footer__info {
  font-size: 20px;
  color: white;
  font-family: "Consolas";
}
.contact__card__footer__socials {
  font-size: 19px;
  color: white;
  border-top: 2px solid white;
}

.fa-envelope, .fa-handshake, .fa-tools, .hi-icon {
  color: black;
}

@media screen and (min-width: 1200px) {
  .projects__card__img:hover {
    transform: scale(1.3, 1.3);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  }

  .fixed_elements__socials__links:hover {
    transform: scale(1.2, 1.2);
    color: #64FFDA;
  }

  .nav__list-items:hover {
    animation-name: slightly-raise;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    text-decoration: none;
  }

  #_nology:hover, #university-of-surrey:hover {
    opacity: 50%;
    text-decoration: underline;
  }

  .projects__card__links-btn:hover {
    transform: scale(1.2, 1.2);
  }

  .contact__card__form__button:hover {
    opacity: 70%;
    transform: scale(1.2, 1.2);
  }

  .contact__card__footer__socials__links:hover {
    color: #64FFDA;
    transform: scale(1.5, 1.5);
  }

  .landing__minimised-terminal:hover {
    transform: scale(1.2, 1.2);
    cursor: pointer;
    backdrop-filter: blur(0px);
  }
}
@media screen and (max-width: 1500px) {
  .landing__message {
    font-size: 30px;
  }

  .hi-icon {
    height: 30px;
    width: 30px;
    margin-left: 5px;
  }

  .fixed_elements__socials__line {
    height: 100px;
  }
  .fixed_elements__socials__links {
    font-size: 30px;
  }

  .fixed_elements__logo-img {
    margin-left: 30px;
    margin-top: 20px;
  }

  .landing__chevron {
    font-size: 80px;
  }

  .about__article__header {
    font-size: 35px;
    margin-bottom: 10px;
  }
  .about__article__info {
    font-size: 20px;
  }
  .about__tech-stack__icons {
    font-size: 50px;
  }
  .about__tech-stack__header {
    font-size: 30px;
  }

  .projects__header {
    font-size: 35px;
  }

  .contact__card__header {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .contact__card__message {
    font-size: 20px;
  }
  .contact__card__form {
    margin-top: 20px;
  }
  .contact__card__form__inputs {
    font-size: 25px;
    width: 60vw;
  }
  .contact__card__form__labels {
    font-size: 20px;
  }
  .contact__card__form__button {
    font-size: 20px;
    padding: 5px;
    margin-top: 40px;
  }
}
@media screen and (max-width: 1200px) {
  .fixed_elements__logo-img {
    visibility: hidden;
  }
  .fixed_elements__socials {
    display: none;
  }
  .fixed_elements__hamburger-menu {
    visibility: visible;
  }

  .landing__message {
    font-size: 4vw;
  }
  .landing__terminal {
    width: 90vw;
  }

  .nav {
    justify-content: flex-start;
    z-index: 50;
  }
  .nav__list-master {
    position: fixed;
    flex-direction: column;
    align-items: flex-start;
    visibility: visible;
    justify-content: flex-start;
    display: none;
    right: 20px;
    top: 60px;
    height: 250px;
    border: 2px solid white;
    border-radius: 5px;
    background: #0B1039;
    z-index: 20;
  }
  .nav__list-items {
    font-size: 20px;
    margin-bottom: 50px;
    margin-left: 5px;
    z-index: 20;
  }

  .contact__card__form {
    width: 70vw;
    margin-top: 20px;
  }
  .contact__card__form__inputs {
    width: 70vw;
    font-size: 25px;
  }
  .contact__card__header {
    align-self: center;
  }

  .about__tech-stack {
    margin-top: 20px;
    width: 95vw;
  }
  .about__tech-stack__header {
    font-size: 5vw;
    margin-bottom: 20px;
  }
  .about__tech-stack__icons {
    grid-template-columns: repeat(3, auto);
    font-size: 10vw;
    width: 95vw;
  }
  .about__article {
    height: auto;
    margin-bottom: 0px;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
  }
  .about__article__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    text-align: center;
  }
  .about__article__header {
    font-size: 5vw;
    text-align: center;
    margin-bottom: 20px;
  }
  .about__article__info {
    font-size: 3.7vw;
    height: auto;
  }
  .about__article__text {
    align-items: center;
    margin-top: 20px;
    width: 95vw;
  }
  .about__article__profile-pic {
    width: 50vw;
    margin-top: 0px;
  }
  .about__article__container {
    margin-top: 10px;
  }
  .about__list__container {
    margin-left: 0;
  }

  .projects__card__text__info {
    font-size: 15px;
    width: 95vw;
    text-align: justify;
    padding: 10px;
  }
  .projects__card {
    height: auto;
    flex-direction: column;
    align-items: center;
  }
  .projects__card__text {
    align-items: center;
    margin-left: 0;
    margin-top: 10px;
    padding-left: 10px;
  }
  .projects__header {
    margin-top: 30px;
    width: 100vw;
    font-size: 6vw;
    justify-content: center;
  }
  .projects__subheader {
    font-size: 15px;
    width: 95vw;
    margin-top: 10px;
    justify-content: center;
  }
  .projects__title {
    font-size: 20px;
    text-align: center;
  }
  .projects__card__img {
    width: 95vw;
  }
  .projects__card__text {
    width: 95vw;
  }
  .projects__card__links {
    justify-content: space-between;
    margin-top: 10px;
  }
  .projects__card__links-btn {
    font-size: 10px;
    margin-right: 0px;
    padding: 10px;
  }

  .contact {
    justify-content: space-around;
  }
  .contact__card__header {
    font-size: 30px;
    align-self: center;
    margin-bottom: 10px;
  }
  .contact__card__message {
    font-size: 20px;
    margin-bottom: 10px;
    width: 90vw;
  }
  .contact__card__form {
    width: 80vw;
    height: 30vh;
    margin-top: 0px;
  }
  .contact__card__form__inputs {
    width: 80vw;
    height: 30vh;
    font-size: 15px;
  }
  .contact__card__footer {
    flex-direction: column;
    text-align: center;
  }
  .contact__card__footer__socials {
    border-top: 0px;
    font-size: 15px;
  }
  .contact__card__footer__socials__links {
    font-size: 30px;
  }
  .contact__card__footer__info {
    font-size: 10px;
  }
}
.display_navbar {
  display: flex;
}

.hide_element {
  display: none;
}

.show_element {
  display: inline-block;
}

.maximise_terminal {
  width: 99vw;
  height: 100vh;
  margin-top: 0px;
}

.stretch_landing {
  height: 100%;
  z-index: 50;
}