
@font-face {
  font-family: 'Consolas';
  src: url('./assets/fonts/Consolas.eot') format('embedded-opentype'); /* IE9 Compat Modes */
  src: url('./assets/fonts/Consolas.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/Consolas.woff') format('woff'),  /* Pretty Modern Browsers */
       url('./assets/fonts/Consolas.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/Consolas.woff') format('svg'); /* Legacy iOS */

  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$primary-font: "Red Hat Display"; 
$secondary-font: "Consolas";
$primary-color: white; 
$secondary-color: #64FFDA; 
$tertiary-color: #0B1039; 