
@font-face {
  font-family: 'Consolas';
  src: url('.assets/fonts/Consolas.woff2') format('woff2'),
      url('.assets/fonts/Consolas.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


$primary-font: "Red Hat Display"; 
$secondary-font: "Consolas";
$primary-color: white; 
$secondary-color: #64FFDA; 